<div class="row">
  <div class="col-12">
    <div>
      <!-- Tab Menu -->
      <ul class="nav nav-pills nav-pills-warning" role="tablist">
        <li *ngFor="let tabMenu of tabMenus" class="nav-item">
          <a
            class="nav-link"
            [class.active]="selectedTab == tabMenu"
            data-toggle="tab"
            [href]="'#' + tabMenu"
            role="tablist"
          >
            {{ lang?.tabMenus[tabMenu] }}
          </a>
        </li>
      </ul>

      <!-- Tab Content -->
      <div class="tab-content tab-space">
        <!-- Profile -->
        <div class="tab-pane active" id="profile">
          <div class="card card-user">
            <div class="card-body">
              <p class="card-text"></p>
              <div class="author">
                <div class="block block-one"></div>
                <div class="block block-two"></div>
                <div class="block block-three"></div>
                <div class="block block-four"></div>
                <div *ngIf="data" class="avatar-container">
                  <a href="{{ 'mailto:' + data?.email }}">
                    <img
                      alt="..."
                      [class]="'avatar ' + data.status"
                      src="assets/img/default-avatar.png"
                    />

                    <h2 class="title">{{ data?.name }}</h2>
                  </a>
                </div>
                <p class="description">{{ data?.roles[0]?.display_name }}</p>
              </div>
              <div class="card-description"></div>
            </div>
            <div class="card-footer">
              <div class="button-container">
                <button
                  class="btn btn-info animation-on-hover mr-1"
                  type="button"
                  (click)="updateUser()"
                >
                  {{ lang?.button.update }}
                </button>
                <br />
                <button
                  *ngIf="data?.status == 'active'"
                  class="btn btn-warning animation-on-hover mr-1"
                  type="button"
                  (click)="suspendUser()"
                >
                  {{ lang?.button.suspend }}
                </button>
                <br />
                <button
                  *ngIf="data?.status != 'active'"
                  class="btn btn-success animation-on-hover mr-1"
                  type="button"
                  (click)="unsuspendUser()"
                >
                  {{ lang?.button.active }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
