<div class="dialog-wrapper">
  <div *ngIf="title" class="title">{{ title }}</div>
  <div *ngIf="subtitle" class="subtitle">{{ subtitle + " :" }}</div>
  <ol *ngIf="infos.length > 0" class="row-info">
    <li *ngFor="let info of infos; let i = index" class="mt-1">
      {{ info }}
    </li>
  </ol>
  <div *ngIf="image" class="image">
    <img [src]="'assets/image/tycoon/' + image"/>
  </div>

  <mat-dialog-actions align="end" class="mt-3">
    <div>
      <button class="button sub-button" mat-dialog-close type="button">
        {{ btn }}
      </button>
    </div>
  </mat-dialog-actions>
</div>
