::ng-deep .ql-snow .ql-fill {
  fill: #fefefe;
}

::ng-deep .ql-snow .ql-picker {
  color: #fefefe;
}

::ng-deep .ql-snow .ql-stroke {
  stroke: #fefefe;
}

::ng-deep .ql-editor.ql-blank:before {
  color: #fefefe;
}

::ng-deep .ql-snow .ql-picker-options .ql-picker-item {
  color: #444;
}
