<h2 mat-dialog-title>{{ lang?.title }}</h2>
<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-dialog-content>
    <mat-form-field class="col-12">
      <mat-label>{{ lang?.form.current_password.label }}</mat-label>
      <input
        [type]="hideCurrentPassword ? 'password' : 'text'"
        matInput
        [placeholder]="lang?.form.current_password.label"
        required
        formControlName="current_password"
      />
      <mat-icon
        class="cursor-pointer"
        matSuffix
        (click)="hideCurrentPassword = !hideCurrentPassword"
      >
        {{ hideCurrentPassword ? "visibility" : "visibility_off" }}
      </mat-icon>
      <mat-error
        *ngIf="
          form.get('current_password').invalid &&
          form.get('current_password').hasError('required')
        "
        >{{ lang?.form.current_password.err.required }}</mat-error
      >
    </mat-form-field>

    <mat-form-field class="col-12">
      <mat-label>{{ lang?.form.password.label }}</mat-label>
      <input
        [type]="hideNewPassword ? 'password' : 'text'"
        matInput
        [placeholder]="lang?.form.password.label"
        required
        formControlName="password"
      />
      <mat-icon
        class="cursor-pointer"
        matSuffix
        (click)="hideNewPassword = !hideNewPassword"
      >
        {{ hideNewPassword ? "visibility" : "visibility_off" }}
      </mat-icon>
      <mat-error
        *ngIf="
          form.get('password').invalid &&
          form.get('password').hasError('required')
        "
        >{{ lang?.form.password.err.required }}</mat-error
      >
    </mat-form-field>

    <mat-form-field class="col-12">
      <mat-label>{{ lang?.form.password_confirmation.label }}</mat-label>
      <input
        [type]="hideConfirmPassword ? 'password' : 'text'"
        matInput
        [placeholder]="lang?.form.password_confirmation.label"
        required
        formControlName="password_confirmation"
      />
      <mat-icon
        class="cursor-pointer"
        matSuffix
        (click)="hideConfirmPassword = !hideConfirmPassword"
      >
        {{ hideConfirmPassword ? "visibility" : "visibility_off" }}
      </mat-icon>
      <mat-error
        *ngIf="
          form.get('password_confirmation').invalid &&
          form.get('password_confirmation').hasError('required')
        "
        >{{ lang?.form.password_confirmation.err.required }}</mat-error
      >
      <mat-error
        *ngIf="
          form.get('password_confirmation').invalid &&
          form.get('password_confirmation').hasError('mustMatch')
        "
        >{{ lang?.form.password_confirmation.err.mustMatch }}</mat-error
      >
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      class="btn btn-danger btn-simple animation-on-hover mr-1"
      mat-dialog-close
    >
      {{ lang?.btn.close }}
    </button>
    <button
      class="btn btn-success animation-on-hover mr-1"
      type="submit"
      [disabled]="form.invalid || isSubmit"
      cdkFocusInitial
    >
      <span [ngClass]="{ 'pr-2': isSubmit }">{{ lang?.btn.submit }}</span>
      <i *ngIf="isSubmit" class="fas fa-spinner fa-spin"></i>
    </button>
  </mat-dialog-actions>
</form>
